<div class="body-form">
  <div class="container text-center pt-5">
    <div class="pt-5">
      <p class="pb-5">Grâce au formulaire ci-dessous, effectuez une simulation en ligne pour une demande de prêt pour un crédit immobilier. Nous vous recontacterons dans les plus brefs délais !</p>
    </div>
    <form action="/send_contact" method="post" class= "signup-form">
      <h2 class="text-center mb-5">Simulation de Crédit immobilier</h2>
      <div class="form-row">
        <label for="referrer">Nature de votre projet</label>
          <div class="col-12 form-group">
            <%= radio_button_tag(:nature, "principale") %>
              <%= label_tag(:nature_principale, "Résidence principale") %>
            <%= radio_button_tag(:nature, "secondaire") %>
              <%= label_tag(:nature_secondaire, "Résidence secondaire") %>
            <%= radio_button_tag(:nature, "locatif") %>
              <%= label_tag(:nature_locatif, "Locatif") %>
            <%= radio_button_tag(:nature, "travaux") %>
              <%= label_tag(:nature_travaux, "Travaux") %>
          </div>

        <label for="referrer">Avancement de votre projet</label>
          <div class="col-12 form-group">
            <%= radio_button_tag(:avancement, "recherche") %>
              <%= label_tag(:avancement_recherche, "En recherche de bien immobilier") %>
            <%= radio_button_tag(:avancement, "signature") %>
              <%= label_tag(:avancement_signature, "Signature") %>
            <%= radio_button_tag(:avancement, "compromis") %>
              <%= label_tag(:avancement_compromis, "Compromis") %>
            <%= radio_button_tag(:avancement, "autre") %>
              <%= label_tag(:avancement_autre, "Autre") %>
          </div>

       <!--  <div class="col-12 form-group">
          <label for="referrer">Nature de votre projet</label>
          <select name="nature" id="referrer" class=" form-control">
            <option value="Résidence principale">Résidence principale</option>
            <option value="Résidence secondaire">Résidence secondaire</option>
            <option value="Locatif">Locatif</option>
            <option value="Travaux">Travaux</option -->
            <!-- <option value="">Travaux</option> -->
         <!--  </select>
        </div>

        <div class="col-12 form-group">
          <label for="referrer">Avancement de votre projet</label>
          <select name="avancement" id="referrer" class=" form-control">
            <option value="En recherche de bien immobilier">En recherche de bien immobilier</option>
            <option value="Signature">Signature</option>
            <option value="Compromis">Compromis</option>
            <option value="Autre">Autre</option>
          </select>
        </div> -->

        <div class="col-12 form-group">
          <label for="message">Montant du projet à financier</label>
          <input name="budget" type="text" class="form-control" id="message" placeholder="Ex : 250 000">
        </div>

        <div class="col-6 form-group">
          <label>Prénom</label>
          <input name="firstname" type="text" id="First name" class="form-control" placeholder="Votre prénom">
        </div>

        <div class="col-6 form-group">
          <label>Nom</label>
          <input name="lastname" type="text" id="Last name" class="form-control" placeholder="Votre nom">
        </div>

        <div class="col-6 form-group">
          <label for="email">Email</label>
          <input name="email" type="email" id="email" class="form-control" placeholder="Votre email">
        </div>

        <div class="col-6 form-group">
          <label for="example-tel-input">Téléphone</label>
          <input name="phone" type="tel" id="example-tel-input" class="form-control" placeholder="Votre téléphone">
        </div>

        <div class="col-12 form-group">
          <label for="message">Code postal</label>
          <input name="postcode" type="text" class="form-control" id="message" placeholder="Ex : 44680">
        </div>

        <!-- <div class="col-12 form-group">
          <label for="message">Message</label>
          <input type="text" class="form-control" id="message" placeholder="N'hésitez pas à nous laisser un message">
        </div> -->
        <!-- <input name="email" type="email" class="form-control mb-1" placeholder="Votre email"> -->
        <textarea name="message" class="form-control" placeholder="N'hésitez pas à nous laisser un message"></textarea>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

        <button class="btn btn-success margin-btn w-100" type="submit">Envoyer</button>

        <!-- <input type="submit" class="btn btn-success w-100" value="Valider"> -->
      </div>
    </form>
  </div>
</div>
