  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= image_tag "logo-fdlg" %>
</div>
  <div class="banner">
    <div class="container">
      <h1>Franck de La Gournerie</h1>
      <h2> Votre courtier en crédit immobilier du Pays de Retz</h2>
      <div class="pt-5">
      <a class="btn btn-home" href="#">Prendre un rendez-vous</a>
      </div>
    </div>
  </div>

  <div class="container pt-5">
    <h3 class="title-color">Faites confiance à Franck de La Gournerie pour vous trouver une solution sur mesure et vous aider à concrétiser tous vos projets !</h3>
    <div class="card-info">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="avatar"><%= image_tag "avatar-home"%></div>
        </div>
        <div class="col-12 col-lg-6 d-flex align-items-center">
          <p class="text-justify pb-3 mb-0"> <i class="fas fa-quote-left"></i> Du financement immobilier au financement professionnel, en passant par la restructuration de vos crédits et l'assurance de prêt, nous vous accompagnons dans toutes vos démarches. Nous vous proposons une étude personnalisée pour vous apporter une solution sur mesure. Nous sommes à votre écoute afin de vous conseiller à chaque étape clé de la constitution de votre patrimoine immobilier. <i class="fas fa-quote-right"></i></p>
        </div>
      </div>
    </div>
  </div>

    <div class="container pt-5">
      <h3 class="title-color">Pourquoi faire appel à un courtier ?</h3>

      <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/iShErX4twB0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture -in-picture" allowfullscreen></iframe>
      </div>
      <h2 class="title-color"> Mes services </h2>
      <div>

          <p>Au sein de Voufinancer, nous privilégons le conseil et l’accompagnement du porteur de projet, afin de lui trouver la meilleure solution adaptée à sa situation. Le rendez-vous de « découverte client » est une première étape primordiale. Il nous permet de comprendre le projet du client, le contexte personnel et professionnel dans lequel il s’inscrit, les contraintes éventuelles à prendre en compte. La proximité géographique de la banque, qui sera en charge du suivi et de l’accompagnement du crédit, au regard du lieu de vie ou du lieu de travail, est l’un des paramètres déterminant de la préconisation finale.</p>
      </div>
    </div>

    <div class="container text-center pt-5">
      <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="card">
                <h5>Crédit immobilier</h5>
                <%= image_tag"courtage1" %>
                <p>Passer par un courtier vous donne accès à une offre bancaire complète pour trouver une solution financière sur-mesure pour votre projet.</p>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="card">
                <h5>Rachat de crédit</h5>
                <%= image_tag"courtage2" %>
                <p> Diminuer vos mensualités regroupant vos différents crédits (immobilier, à la consommation...) en un seul afin de ne rembourser qu'une seule mensualité allégée*.</p>
              </div>
            </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="card">
                <h5>Assurance de prêt</h5>
                <%= image_tag "courtage3"%>
                <p> Nous vous aidons à sécuriser vos projets en vous proposant des solutions adaptées à votre profil et à vos besoins pour vous faire bénéficier des meilleurs garanties pour votre projet immobilier.</p>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="card">
                <h5>Crédit professionnel</h5>
                <%= image_tag "courtage4"%>
                <p>Artemis Courtage vous aide à réaliser tous vos projets et vous accompagne dans la recherche de votre financements, que vous soyez dirigeant de TPE/PME, profession libérale, franchisé ou artisan commerçant.</p>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="container pt-5">
      <h3 class="title-color">Contact</h3>
      <div class="card-product">
        <div class="row">
          <div class="col-12 col-lg-5 map">
            <%= image_tag "fdlg-courtier-pays-retz.png" %>
          </div>
          <div class="col-12 col-lg-7 d-flex align-items-center">
            <div class="card-product-infos">
              <h2>Franck de La Gournerie</h2>
              <p><i class="fas fa-mobile-alt"></i><strong>  06 21 15 45 33</strong></p>
              <p><i class="fas fa-envelope-open-text"></i><strong>  fdelagournerie@vousfinancier.com</strong></p>
              <p><i class="fas fa-map-marked-alt"></i>  Secteur : La Bernerie-en-Retz, Chaumes-en-Retz, Chauvé, Cheix-en-Retz, Les Moutiers-en-Retz, La Plaine-sur-Mer, Pornic, Port-Saint-Père, Préfailles, Rouans, Saint-Hilaire-de-Chaléons, Sainte-Pazanne, Saint-Michel-Chef-Chef, et Vue</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
