<p>Un nouveau message a été envoyé depuis le formulaire de contact du site franckdelagournerie-courtier.com</p>

<p>Nature du projet : <%= @nature %></p>
<p>Avancement de votre projet : <%= @avancement %></p>
<p>Montant du projet à financer : <%= @budget %></p>

<p>-----------------------------------------------</p>

<p><%= @message %></p>

<p>-----------------------------------------------</p>

<p><%= @firstname %> <%= @lastname %></p>
<p><%= @email %></p>
<p><%= @phone %></p>
<p>Code postal : <%= @postcode %></p>

